@font-face {
    font-family: Blancha;
    src: url(Blancha.ttf);
}


*{
    margin: 0;
    padding: 0;
    
}

main{
    background-color:#FC8D7B;
    
}


.image-background {
    background-image: url('background3.jpg');
    background-size: cover;
    height: 500px;
}

.prenom{
    font-family: 'Zilla Slab Highlight', cursive;
}
.jumbotron .container{
    text-align: center;
    background: transparent;
}


h1, h2, .contact{
    text-align: center;
    font-family: 'Blancha';
    margin-top: 10px;
    margin-bottom: 20px;
}

.image-profil{
    border-radius: 10px;
    width: 100%;
}

.logo{
    width: 150px;
    height: 150px;
}

.logos{
    display: flex;

}
.taille-progress{
    width: 150px;
}
.section2{
    padding: 100px;
}

footer{
    background-color: black;
}

.icones{
    color: #FC8D7B ;
}
