@font-face {
    font-family: Five;
    src: url(police.ttf);
}


*{
    margin: 0;
    padding: 0;
    
}

main{
    background-image: linear-gradient(to left, #ff99c9, #eda1dd, #d8aaec, #c0b3f5, #aabbf7, #adc2f7, #b2c9f7, #b8d0f6, #cfdaf8, #e2e6fa, #f2f2fc, #ffffff);
}

.navbar-logo{
    width: 100px;
    height: 100px;
}
ul li{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;

}


.shift ul li a {
  position: relative;

}
.shift ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #FF99C9;
  height: 3px;
}
.shift ul li a:hover:after {
  width: 100%;
}


.image-background {
    background-image: url('background2.jpg');
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.jumbotron .container{
    text-align: center;
    background: transparent;
}


h1 {
    text-align: center;
    font-family: 'Blancha', sans-serif;    
    text-decoration: blink;                                        
    font-size: 105px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.titre{
    text-align: center;
    font-family:'Jura', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 45px;

}
h2, .contact{
    text-align: center;
    font-family:'Blancha', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 50px;

}
.image-profil{
    border-radius: 10px;
    width: 100%;
}
p, form{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.logo{
    width: 150px;
    height: 150px;
}

.logos{
    display: flex;

}
.taille-progress{
    width: 150px;
}
.section2{
    padding: 100px;
}

footer{
    background-color:#B2C9F7;
}

.icones{
    color: #FF99C9 ;
}



/* Color palette 
#F8BFBF Mandys Pink
#FBA48C Mona Lisa
#FB9C77 Vivid Tangerine
#FA8B85 Geraldine */
